*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
.container{
    width:25%;
    min-height:80vh;
    background:#ff201c;
    margin:auto;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(0,0,0,.5);
}
h4{
    text-align:center;
    margin-top: 2px;
    font-size:20px;
    color :white;

}
img{
    width:80%;
    height :50%;
    margin:10% 10% 5% 10%;
    border-radius:10px;
    box-shadow:10px 15px 25px rgba(0,0,0,.4);
    /* border: none; */
}
p{
    margin:3%;
    text-align: center;
    font-size:18px;
    letter-spacing: 2px;
    color: white;
    /* font-weight: bolder; */
}
input{
    width:80%;
    margin:2% 10%;
}
button{
    padding:20px;
    text-align:center;
    margin-top: 2%;
    margin-left: 13%;
    margin-bottom:4%;
    border-radius: 50%;
    background:transparent; /* yaha tak vi chor te to acha lag raha tha  */
    border: none;  /*   */
    box-shadow: 5px 5px 10px rgba(0,0,0,.5),
                -1px -1px 1px white;
}
button:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.5);
                    
}  
@media screen and (max-width:1200px)
{
    .container{
         width:30%;
    }
}    

/* for resposive for large screen  */                  
@media screen and (max-width:576px)
{
    .container{
         width: 70%;
    }
}    